.nav-wrapper {
  padding-left: 40px;
}
.history__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.image-item {
  height: 600px;
  width: 400px;
  object-fit: ;
}